.row-center {
  align-items: center;
}

.hide-on-mobile {
  display: inherit;
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.show-on-mobile {
  display: none;
  @media screen and (max-width: $mobile-breakpoint) {
    display: inherit;
  }
}
