.row-center {
  align-items: center;
}

.hide-on-mobile {
  display: initial;
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.show-on-mobile {
  display: none;
  @media screen and (max-width: $mobile-breakpoint) {
    display: initial;
  }
}

.show-only-on-desktop {
  display: none;
  @media screen and (min-width: $desktop-breakpoint) {
    display: initial;
  }
}
