$background: #1A1455;
$background-dark: #171249;
$primary: #D026E2;
$primary-dark: #b120c1;
$secondary: #28E7E0;

$desktop-breakpoint: 75em;
$tablet-breakpoint: 64em;
$mobile-breakpoint: 48em;

$fa-font-path: "/webfonts";
